---
const { content, image, cite, role } = Astro.props
---

<blockquote class="bs-container bs-mt-lg font-display text-3xl md:text-5xl lg:text-6xl flex flex-col gap-6" id="quote">
  <div set:html={content} class="text-bs-foreground-dark bs-st-quote [&_strong]:font-normal font-display" data-editable="text" data-prop="content" />

  <cite class="not-italic flex gap-4 items-center">
    <img
      src={image}
      class="h-12 w-12 rounded-full"
      alt=""
      width="128"
      height="128"
      loading="lazy"
      data-editable="image"
      data-prop="image"
    />

    <div class="text-bs-foreground-light bs-h3">
      <span data-editable="text" data-prop="cite">{cite}</span> <span class="text-bs-foreground-dark" data-editable="text" data-prop="role">{role}</span>
    </div>
  </cite>
</blockquote>

<style is:global>
/* Lighten text when scrolling into view */
@keyframes white-text {
  to { color: var(--color-bs-foreground-light); }
}

@supports (animation-timeline: view()) {
  .bs-st-quote strong {
    animation: white-text linear;
    animation-timeline: view(20% block);
    animation-fill-mode: forwards;
  }
}

@supports (not (animation-timeline: view())) {
  .bs-st-quote strong {
    color: var(--color-bs-foreground-light)
  }
}
</style>
