---
const { contentBlocks = [] } = Astro.props;
const components = {};
const componentImports = import.meta.glob("../../components/**/*.astro", {
  eager: true,
});
Object.entries(componentImports).forEach(([path, obj]) => {
  const parts = path
    .replace("../../components/", "")
    .split(".")[0]
    .split("/");
  if (parts[parts.length - 1] === parts[parts.length - 2]) {
    parts.pop();
  }
  const componentName = parts.join("/");
  components[componentName] = obj.default;
});
---

<main>
  {contentBlocks?.length > 0 && contentBlocks.map((block) => {
    const Component = components[block._name];
    if (!Component) return null;
    return <Component {...block} />;
  })}
</main>
